<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressForum</title>
    ${head}
</head>
<body>
    <div class="container">
        <div class="row">
            ${nav}
        </div>
    <div class="nes-container is-dark is-rounded is-centered with-title">
        <p class="title redText">ERROR</p>
        <div class="row align-items-center">

            <div class ="col">
    <h1>UH OH!</h1>
    <h3>:::Error Time:::</h3>
    <p class="yellowText">${error.status} : ${error.message} </p>
  
</div>
</div>
</div>
<div class ="d-flex justify-content-around">
    <a href="/threads">View A list of threads</a>

</div>
</div>
</body>
</html>