<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressForum - All Threads</title>
    ${head}
    <style>

    </style>
</head>

<body>
    <h1 class="text-center">An Expressly Express Forum!</h1>
    <!-- <a href="/threads">View A list of threads</a> -->
    <main class="container">
        <!-- <div class="my-3 p-3 bg-white rounded box-shadow"> -->
        <div class="nes-container is-dark with-title">
            <p class="title">Threads<span class="yellowText">.all</span></p>

            <div class="list-group border border-0" id="allThreads">
                ${threads.map((thread) => {
                return `<a href="/threads/${thread.id}" class="list-group-item  border border-0">${thread.title} <span>${thread.likes} <i class="nes-icon is-small heart"></i></span></a>
                `
                }).join('')}
            </div>
        </div>

        </br>

        <!-- Add a new Thread -->
        <div class="nes-container is-dark with-title">
            <p class="title">Thread<span class="yellowText">.new</span></p>

            <form action="/threads" method="POST">
                <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                    <label for="dark_field" style="color:#fff;">Your Name</label>
                    <input type="text" id="dark_field" class="nes-input is-dark" name="name" required>
                  </div>
                <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline">
                    <label for="dark_field" style="color:#fff;">Thread Title</label>
                    <input type="text" id="dark_field" class="nes-input is-dark" name="title" required>
                  </div>  
                <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline ">
                    <label for="textarea_field text-small">Post a New Thread</label>
                    <textarea id="newThreadText" class="nes-textarea is-dark" name="content" required></textarea>
                    </br>

                </div>
                <button id="sumbitThread" type="submit" class="nes-btn from-left ">Submit</button>
            </form>
        </div>

    </main>

<!-- <script>
    document.getElementById("submitThread").addEventListener("click", function(event){
  event.preventDefault()
});
</script> -->
</body>

</html>