<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - ${thread.title}</title>
    ${head}
</head>
<body>
    <h1 class= "text-center">An Expressly Express Forum</h1>

   <main class = "container"> 
    <!-- <div class="my-3 p-3 bg-white rounded box-shadow"> -->
    <div class="nes-container is-dark with-title">
        <p class="title"><span class="greenText">${thread.name}</span>.${thread.title}</p>
        <!-- <div class = "list-group"> -->
    
    <!-- <h3>${thread.title}</h3> -->
    <p>${thread.content}</p>
        </br>
    <div class = "lists is-dark">
    <ul class = "nes-list is-dark is-disc comment-list">
        ${thread.comments.map((comment) => {
           return  `<li>${comment.name} - "${comment.content}"</li>`
        }).join('')}
    </ul>
    </div>
   
        <form action="/threads/${thread.id}/comments" method="POST">
            <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline ">
                <label for="dark_field" style="color:#fff;">Your Name</label>
                <input type="text" id="dark_field" class="nes-input is-dark" name="name" required>
              </div>
            <div style="background-color:#212529; padding: 1rem;" class="nes-field is-inline ">
                <label for="textarea_field text-small">leave a comment</label>
                <textarea id="newThreadText" class="nes-textarea is-dark" name="content" required></textarea>
               
                </br>

            </div>
            <div class ="d-flex justify-content-around">
                <button id="submitComment" type="submit" class="nes-btn from-left ">Comment</button>
            
            </div>
        </form>

      </div>
      
    <div class ="d-flex justify-content-around">
    <a href="/threads">View A list of threads</a>

</div>
 </main>
</body>
</html>


